<h1><%= h @name %></h1>

<p class='intro'>
  Edit scheduled job
</p>

<form style="float: left;" action="<%= u "/all-schedule/#{@name}/confirm" %>" method="post">
  <div>
    <textarea name="config" cols="120" rows="8"><%= h @config %></textarea>
  </div>
  <% (@part_config_hashes || part_configs(@name)).each do |key,config| %>
    <div>
      <p><%= key %></p>
      <textarea name="part_config[<%= key %>]" cols="120" rows="4"><%= h config.try(:to_yaml) %></textarea>
    </div>
  <% end %>

  <div>
    <% unless @config_hash.blank? %>
      <table>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Interval</th>
          <th>Class</th>
          <th>Queue</th>
          <th>Arguments</th>
        </tr>
        <tr>
          <td><%= h @name %></td>
          <td><%= h @config_hash['description'] %></td>
          <td style="white-space:nowrap"><%= all_schedule_interval(@part_config_hashes || @name) %></td>
          <td><%= h schedule_class(@config_hash) %></td>
          <td><%= h @config_hash['queue'] || queue_from_class_name(@config_hash['class']) %></td>
          <td><%= h @config_hash['args'].inspect %></td>
        </tr>
      </table>

      <div>
        <input type="submit" name="confirm" value="Confirm">
        <% if @confirm %>
          <input type="submit" name="commit" value="<% if @current_config_hash %>Update<% else %>Create<% end %>" style="margin-left: 4em">
          <input type="submit" name="reset" value="Reset" style="margin-left: 4em">
        <% end %>
        <% if @current_config_hash %>
          <input type="submit" name="remove" value="Remove-Confirm" style="margin-left: 4em">
        <% end %>
      </div>

      <% if @confirm && (@config_hash != @current_config_hash || @part_configs != part_configs(@name)) %>
        <p>current schedule</p>
        <table>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Interval</th>
            <th>Class</th>
            <th>Queue</th>
            <th>Arguments</th>
          </tr>
          <tr>
            <td><%= h @name %></td>
            <td><%= h @current_config_hash['description'] %></td>
            <td style="white-space:nowrap"><%= all_schedule_interval(@name) %></td>
            <td><%= h schedule_class(@current_config_hash) %></td>
            <td><%= h @current_config_hash['queue'] || queue_from_class_name(@current_config_hash['class']) %></td>
            <td><%= h @current_config_hash['args'].inspect %></td>
          </tr>
        </table>
      <% end %>
    <% else %>
      <div>
        <input type="submit" name="confirm" value="Confirm">
        <% if @confirm %>
          <input type="submit" name="reset" value="Reset" style="margin-left: 4em">
        <% end %>
        <% if @current_config_hash %>
          <input type="submit" name="commit" value="Remove" style="margin-left: 4em">
        <% end %>
      </div>
    <% end %>

    <p>e.g.</p>
    <pre style="border: 1px solid gray; margin: 1em 0.1em; padding: 1em;">class: MyJobClass
description: this job description
args:
  - 01
  - 02
  - 03
cron: "0 0 * * *"</pre>
  </div>
</form>
